body {
    margin-top: .5rem;
}

.wolfram-header {

}

.wolfram-grid-container {
    display: grid;
    grid-template-columns: 20rem 40vw;
    grid-template-rows: auto;

    margin-left: 20%;
    margin-bottom: 2rem;
    position: absolute;
    height: 80%;
    width:; 80vw;
}

.simulation-area {
    text-align: center;
    font-family: Courier, monospace;
    font-size: 1.5rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    padding: .5rem;
}

.options-area {
    font-size: 1.5rem;
}

 #rules-defined {
    font-family: Courier, monospace;
    font-size: 1.5rem;
}

#sim-area {
    display: block;
    line-height: 60%;
}

.options-area {
    padding: .8rem;
    padding-left: 2rem;
}

.return-footer {
    left: 10%;
}