main {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    
    margin: left;
    /*width: 5rem;*/
    padding: 15%;
    padding-top: 1rem;
}

#topHeader {
}

Header {
    font-family: 'Monofur', Arial, Helvetica, sans-serif;
}

h1 {
    color: #33ff66;
    background-color: black;
    padding:.2em;
    max-width: 6em;
    border: 1px solid darkgray;
    font-size: 250%;
}

h2 {
    padding-top: 1rem;
    font-size: 200%;
}

#firstSubhead {
    padding-top: 0rem;
}

@font-face {
font-family: "Monofur";
src: url("fonts/monof55.ttf");
}

/* Blink!!! */
blink {
    -webkit-animation: 1s linear infinite condemned_blink_effect; // for android
    animation: 1s linear infinite condemned_blink_effect;
}
@-webkit-keyframes condemned_blink_effect { // for android
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

p {
    text-indent: 2rem;
}